*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium';
    padding-right: 5px;
    padding-left: 5px;

}

body{
    height: 100vh;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
}
.first-project{
    text-align: justify;

}
h1{
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    font-style: oblique;
    padding-bottom: 20px;
    text-decoration: underline;
}

h2{
    font-size: 25px;
    font-style: oblique;
}

p{
    text-align: justify;
}

.video{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-project{
    
    
}